*{margin: 0%;}

#navbar{
  background-color: red;
}




.redes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color:black;
}


.redes a { text-decoration: none; color: white;}

