*{margin: 0px;}
.header{display: flex; justify-content: space-between;}
.nav-link a {  text-decoration: none; color: orange;  margin-right: 15px; font-size: 20px; } 
.nav-link{ display: flex;
align-items: center;
}

.nav-link a:hover { color: black;} 

.container{background-color: black; height: 100vh;}
