
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;

}








.container{

display:flex;
flex-direction: column;
align-items: center;



}




.aluno{
    display: flex;
    width: 250px;
    height: 150px;
    background-color: rgb(158, 0, 0);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.BodyAluno{
    margin-top: 10px;
}







/*BTN*/

#BtnConcluir{
    background-color: blue;
    color: white;
    border:  1px solid black;
    border-radius: 18%;
    width: 80px;
}

button:hover{
    background-color: rgb(38, 38, 156);
    cursor: pointer;
    
}
a{
    text-decoration: none;
    color: white;
}